<app-header></app-header>
    <head>
        <meta charset="utf-8">
        <title>Login Form</title>
    </head>

    <body>
        <form class="box"action="registration.component.html">
            <h1>join us</h1>
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <input type="password" placeholder="Confirm password" id="password">
            <input class = "btn" type="submit" value="SIGN UP">
        </form>
    </body>
