.all{
    display: block;

}
.betweenCon1{
    width: 100%;
    height: 20px;
    margin-top: 100px;
    background-color: aquamarine;
}
.betweenCon{
    width: 100%;
    height: 20px;
    margin-top: 85px;
    margin-bottom: 60px;
    background-color: aquamarine;
}
#main{
    position: static;
    width:100%;
    display: inline-flex;
    height: auto;
    
}
.divrek{
    width:10%;
    height: 300px;
    margin: 20px;
}
.posleProduct{
    height: auto;
    width: 6%;
    margin: 10;
}

.betweenCon{
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    margin-top: 85px;
    background-color: aquamarine;
}

.divProduct
{
    margin-left: 10px;
    display: inline-flexbox;
    width: 84%;
    height: auto;
}
.allPr{
    width:auto;
    display: inline-block;
    height: auto;
    margin: 10px;
}
.allPr{
}
.productDetail{
    width:250px;
    height: auto;
    display: inline-flexbox;
}
.boxIm{
    text-align: center;
}
.prodIm{
    width: 210px;
    height: 190px;
}
.details{
    text-align: center; 
    width: 250px;
}
.descriptionPrd{
    display: none;
}
#title{
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    width: 250px;
    height: auto;
    margin: 0px;
}
p{
    margin: 0px;
}
.allPr{
    margin: 10px;
}
.productDetail:hover a div img{
    width: 220px;
    height: 205px;
    transition: 0.3s;
}
.productDetail:hover .details #title{
    overflow:visible;
    width: 250px;
    height: auto;
    white-space:normal;
    transition: 0.3s;
}
.buttons{
    width: 150px;
    height: auto;
}
button{
    margin-top:40px;
    margin-left: 10%;
    width: 80%;
    background-color: #90daf5;
    /* background-color: #4a82ea; */
    color: #fff;
    border: none;
    box-sizing: border-box;
    display: block;
    height: 55px;
    line-height: 55px;
    min-width: 180px;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: button;
    border-radius: 4px;
    
}
button{
    background-color: #4a82ea;
    transition: 0.3s;
}

    .divButtons{
        display: flex;
        justify-content: center;
    }
