<html>
  <body>
    <div class="all">
     <div class="header"> <app-header></app-header></div>
      <div class="choices">
        <p class="">
          Products
        </p>
        <p>
          <a routerLink="/categories">Categories</a>
        </p>
      </div>
      <div class="main">
        <div id="main">
          <div class="divrek">

          </div>
          <div class="divProduct">
            <div  *ngFor="let product of products" class="allPr">
              <div class="productDetail">
                <a style="text-decoration: none;" routerLink="/products/{{product.id}}" (click)="onSelect(product)">
                  <div class="boxIm"><img src="{{product.image}}" class="prodIm"></div>
                  <div class="details">
                  <h4 id="title">
                    {{product.name}}
                  </h4>
                  <p class="descriptionPrd">
                    {{product.description}}
                  </p>
                  <p>
                    {{product.price}}
                  </p>

                  </div>
                </a>
              </div>
          </div>
          </div>


          <div class="posleProduct"></div>
        </div>

      </div>

    </div>
    <app-footer></app-footer>
  </body>
</html>
