<!-- <html>
  <body>
    <h1>Product {{product.name}}</h1>
    <p>
      Description: {{product.description}}
    </p>
    <button (click)="goBack()">Back</button>
  </body>
</html> -->
<html>
  <body>
    <div class="all">
     <div class="header"> <app-header></app-header></div>
     <div class="betweenCon">
    </div>
    <div class="mainDetail">
      <div class="picTitle">
        <div class="pictureImg">
          <img src="{{production.image}}" class="detailImg">
        </div>
        <div class="nameTitle">
          <div class="info">
            <div class="info1"><h1 class="ntitle">{{production.name}}</h1></div>
            <div class="info2"><h2>{{production.price}} tg</h2></div>
            <div class="info3"><h3><span> Sizes: {{production.size}}</span></h3> </div>
            <div class="info4"><h3><span>Colors: {{production.color}}</span></h3> </div>
            <div>
              <div><h2 class="descrip">Details</h2></div>
              <div>
                <p> {{production.description}}</p>
              </div>
            </div>
          </div>
          <button (click)="addToCard(product)">ADD TO CARD</button>
        </div>
      </div>

    </div>
      
   
    <div class="lineBetween"></div>
    <div class="backButtons">
      <div class="backButtonsDiv">
      <div>
      <button class="butBack" (click)="goBack()">Back</button>
    </div>
  </div>
    </div>
    <div class="betweenCon1">

    </div>

    </div>
    <app-footer></app-footer>
  </body>
</html>
