.all{

  display: inline-block;
}
.header{
  width: 100%;
  display: block;
}
.choices{
  display: block;
  margin-top: 120px;
}
#main{
  position: static;
  width:100%;
  display: inline-flex;
  height: auto;

}
.divrek{
  width:20%;
  height: 300px;
  margin: 10px;
}
.posleProduct{
  height: auto;
  width: 10%;
  margin: 10px;
}


.divProduct
{
  display: inline-flexbox;
  width: 70%;
  height: auto;
}
.allPr{
  width:auto;
  display: inline-block;
  height: auto;
  margin: 10px;
}
.allPr{
}
.productDetail{
  width:250px;
  height: auto;
  display: inline-flexbox;
}
.boxIm{
  text-align: center;
}
.prodIm{
  width: 210px;
  height: 190px;
}
.details{
  text-align: center;
  width: 250px;
}
.descriptionPrd{
  display: none;
}
#title{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width: 250px;
  height: auto;
  margin: 0px;

}
p{
  margin: 0px;
}
.allPr{
  margin: 10px;
}
.productDetail:hover a div img{
  width: 220px;
  height: 205px;
  transition: 0.3s;
}
.productDetail:hover .details #title{
  overflow:visible;
  width: 250px;
  height: auto;
  white-space:normal;
  transition: 0.3s;
}



/* .prodIm:hover{
  width: 230px;
  height: 205px;
}
.prodIm:hover #title{


} */
