<html>
    <body>
      <div class="allth">
        <div class="header"> <app-header></app-header></div>
        <div class="betweenCon">

        </div>
        <div class="allCategory">
          <div class="two-container">
            <div class="containerImg" routerLink="/categories/Men/products">
              <img src="\assets\menShoes.png" alt="" class="resunk">
              <h2>Men</h2>
              
           </div>
           <div class="containerImg1" routerLink="/categories/Women/products">
              <img src="\assets\womenShoes1.png" alt="" class="resunk">
              <h2>Women</h2>
           </div >
          </div>
           <div class="two-container2">
            <div class="containerImg2" routerLink="categories/Kid/products">
              <img src="\assets\shoeskids.png" alt="" class="resunk">
              <h2>Kids</h2>
           </div>
           <div class="containerImg3" routerLink="/products">
            <img src="\assets\allUnisexs.jpg" alt="" class="resunk">
            <h2>All products</h2>
           </div> 
           </div>
           
        </div>
      
      <!-- <div class="listCategory"> 
        <ul>
          <li *ngFor="let category of categories">
            <a routerLink="/categories/{{category.name}}/products" (click)="onSelect(category)">
              {{category.name}}
            </a>
          </li>
        </ul>
      </div>
      <button (click)="goBack()">Back</button>
      </div>
       -->
      </div>
      <div class="betweenCon1">

      </div>
       <app-footer></app-footer>
    </body>
</html>

