<!-- <html style="width: 100%; margin: auto; height: 100vh;">
  <app-header></app-header>
<title>Login Form</title>
    <body>
        <div class = "login-box">
            <h1>Login</h1>
                <div class = "textbox">
                    <i class = "fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Username" id="username">
                </div>
                <div class = "textbox">
                    <i class = "fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Password" id="password">
                </div>
                <div>
                    <input class = "btn" type="submit" value="SIGN IN">
                </div>
        </div>
    </body>
    <app-footer></app-footer>
</html> -->
<html>
  <body>
    <div class="all">
     <div class="header"> <app-header></app-header></div>
     <div class="betweenCon">  
    </div>
    <div class = "login-box">
        <h1>Login</h1>
            <div class = "textbox">
                <i class = "fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Username" id="username" [(ngModel)]="username">
            </div>
            <div class = "textbox">
                <i class = "fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" id="password" [(ngModel)]="password">
            </div>
            <div>
                <input class = "btn" type="submit" (click)="login()" value="SIGN IN">
                <input class = "btn" type="submit" routerLink="/registration" value="Registration">
            </div>
    </div>
    <div class="betweenCon1">

    </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
