<html style="margin: 0; height: 100%;">
<app-header></app-header>
<div style="position: static; margin: auto; width: 50%; margin-top:200px">
  <form>
    <label>Product Name:</label> <br> <input #productName placeholder="Name">
    <br>
    <label>Description</label> <br> <input #productDescription placeholder="Description">
    <br>
    <label>Price</label> <br> <input #productPrice placeholder="price">
    <br>
    <label>image</label> <br> <input #productimage placeholder="imageUrl">
    <br>
    <label>Color</label> <br> <input #productColor placeholder="color">
    <br>
    <label>Size</label> <br> <input #productSize placeholder="size">
    <br>
    <label>Category</label> <br> <input #productCategory placeholder="category">
    <br>
    <!-- <button (click)="addProduct(productName.value, productDescription.value, productPrice.value,
    productimage.value,productColor.value, productSize.value,productCategory.value)" routerLink="/products">Add</button> -->
  </form>
</div>
<app-footer></app-footer>
</html>
