<div class="dropdwn">
  <nav>
    
    <ul>
      <img class="logo" src="\assets\logoShop1.png" title="logo">
      <li><a href="#">Home</a></li>
      <li><a href="" routerLink="/categories">Category <i class="fas fa-caret-down"></i> </a>
        <ul>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Kids</a></li>
        </ul>
      </li>
      <li><a href="#">Sales </a></li>
      <li><a href="#">About us <i class="fas fa-caret-down"></i></a></li>
      <li><a href="#">Contact</a></li>
      <li><a id="loginReg">Login</a><span id="slash"> &#47; </span><a id="loginReg">Registratio</a></li>
      
    </ul>
    
  </nav>
  <div>
    
  </div>
</div>
