<div class="dropdwn">
<nav >

    <ul>
      <img class="logo" src="\assets\logoShop1.png" title="logo" routerLink="/products">
      <li><a href="#" routerLink="/products">Home</a></li>
      <li><a href="" routerLink="/categories">Category <i class="fas fa-caret-down"></i> </a>
        <ul>
          <li><a href="#" routerLink="/categories/Men/products">Men</a></li>
          <li><a href="#" routerLink="/categories/Women/products">Women</a></li>
          <li><a href="#" routerLink="/categories/Kid/products">Kids</a></li>
        </ul>
      </li>
      <li><a href="#" routerLink="/products">Sales </a></li>
      <li><a href="#" routerLink="/about">About us </a></li>
      <li><a href="#" routerLink="/contacts">Contact</a></li>
      <li><a id="loginReg" routerLink='/login' (click)="checkLogin()">Login</a><span id="slash"> &#47; </span><a id="loginReg" routerLink="" (click)="logout()">Logout</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li style="visibility: hidden;"><a routerLink="/admin-panel">Admin</a></li>
    </ul>

  </nav>
  <div>

  </div>
</div>
