<div class="dropdwn">
<nav >

    <ul>
      <img class="logo" src="\assets\logoShop1.png" title="logo">
      <li><a href="#">Home</a></li>
      <li><a href="" routerLink="/categories">Category <i class="fas fa-caret-down"></i> </a>
        <ul>
          <li><a href="#" routerLink="/categories/Men/products">Men</a></li>
          <li><a href="#" routerLink="/categories/Women/products">Women</a></li>
          <li><a href="#" routerLink="/categories/Kid/products">Kids</a></li>
        </ul>
      </li>
      <li><a href="#">Sales </a></li>
      <li><a href="#">About us </a></li>
      <li><a href="#">Contact</a></li>
      <li><a id="loginReg" routerLink='/login'>Login</a><span id="slash"> &#47; </span><a id="loginReg" routerLink="/registration">Registratio</a></li>

    </ul>

  </nav>
  <div>

  </div>
</div>
